h1{
    color: firebrick;
    font-style: oblique;
}
ul{
    color: green;
    font-family: 'Gill Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    size: 14px;
}
ol{
    list-style-type:armenian;
    color: red;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
body{
    background-color:antiquewhite;
}
img{
    width: 5%;
    height: 5%;
}
p{
    background-color: white;
    font-size: 20px;
}